DATA_HOME="$XDG_DATA_HOME/sess"
S_TEMPFOLDER="/tmp/session-data"

NUMBER_OF_BACKUPS="5"
DEFAULT_TAG="1"

SAAPPLICATIONS=(vim)
APPLICATIONS=(luakit urxvt)
S_TERM=urxvt

IGNOREFILES="webkit thomas"

SESSIONPATH=$HOME/code/session



#s_terminal() {
#        $S_TERM &
#}
