DATA_HOME="$XDG_DATA_HOME/sess"
S_TEMPFOLDER="/tmp/session-data"

NUMBER_OF_BACKUPS="5"
DEFAULTTAG="1"

MENU='dmenu -i'

# Session aware applications
SAAPPLICATIONS=(vim)
# Other applications which should get stored
APPLICATIONS=(luakit urxvt)
# Terminal to embed console applications
S_TERM=urxvt
S_SHELL_HISTORY=zsh_history
