# This is the example ws-session.rc, default values are commented out.
# Copy it to $HOME/.ws-session.rc
# If you have set XDG_CONFIG_HOME as environment variable
# you can copy it to $XDG_CONFIG_HOME/ws-session/ws-session.rc

### FOLDERS --------------------
#S_TEMP_FOLDER="/tmp/ws-session-$(whoami)"
# in case you use XDG
#S_DATA_FOLDER="$XDG_DATA_HOME/ws-session"
#S_CONFIG_FOLDER="$XDG_CONFIG_HOME/ws-session"
# in case you dont use XDG
#S_DATA_FOLDER="$HOME/.ws-session/sessions"
#S_CONFIG_FOLDER="$HOME/.ws-session"

### SETTINGS -------------------
#S_NUMBER_OF_BACKUPS="5"

# Close session ends on this tag/workspace
S_DEFAULT_TAG="1"

# Whitelist of your window manager(s)
S_WM="bspwm i3 herbstluftwm wingo"

# Before we can apply the old layout we have to wait x seconds for
# the windows to open.
#S_LOAD_LAYOUT_SLEEP="1"
# Before running system action we have to wait
#S_RUN_ACTION_SLEEP="1"

# Link those files/directories to the tempfolder
S_LN_FILES=( "$XDG_CONFIG_HOME/gtk-3.0" )

### APPLICATIONS ---------------
# Menu
# 'dmenu -p ' is tested but you could probably use any menu program.
S_MENU='dmenu'
S_MENU_PROMPT_SWITCH="-p "
# zenity should also work
#S_MENU="zenity --list --column=ALL --hide-header"
#S_MENU_PROMPT_SWITCH="--title="

# Terminal and Shell
S_TERM=urxvt
# An array of files that are restored for the Shell
S_SHELL_FILES=( "history" "zdirs" )

# Completely ignore windows with these window classes:
S_BLACKLIST=( "firefox" )

### OPEN/CLOSE SESSION ---------
# The following applications have a wrapper.
# Put your terminal at the end so that terminal applications
# don't get terminatet before we had the cance to save them.
S_APPLICATIONS=( "command" "vim" "dwb" "luakit" "zathura" "$S_TERM" )

### SYSTEM ACTION -------------
# The following functions can be called after closing all sessions:
# You can write your own, especially quit and play are just examples.
# example call: 'ws-session all play'
s_system_action_poweroff() { systemctl poweroff; }
s_system_action_reboot() { systemctl reboot; }
s_system_action_quit() { quit_your_wm; }
s_system_action_play() {
    # go to non session tag after closing all sessions
    herbstclient add play_game
    herbstclient use play_game
    herbstclient merge_tag $S_DEFAULT_TAG
}

